<div class="conatiner">
    <div class=" row p-5 m-0 d-flex justify-content-around">
        <div class="col-12 col-md-6 col-lg-6 ">
            <h1 class="h1">About Me</h1>
        </div>
        <div class="col-12 col-md-6 col-lg-6 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia aperiam enim incidunt. Et
                repellat sunt quidem aliquam veniam eius dolorum. Aliquid temporibus assumenda incidunt minima
                doloremque non. Quo, eius.</p>
                <a href="../../assets/imgs/PXL_20230120_191441742.PORTRAIT.jpg" download="" class="btn btn-outline-dark">Download Resume</a>
        </div>
    </div>
</div>