<div class="container bg-dark text-light text-center skills-section ">
    <div class="row m-0 p-5">
        <div class="col ">
            <h1>Skills</h1>
            <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Blanditiis qui sed architecto odit eos
                repellendus, <br> commodi consequuntur excepturi ab, nihil, <br> nam voluptatum repellat! Placeat in
                quidem animi iure consequatur voluptate.</p>
        </div>
    </div>
    <div class="container row m-0 skills">

            <div class="col-12 col-md-6 col-lg-6 text-start">
                <h3 class="fucos h3">My Fucos</h3>
                <h3 class="h3">ux/ui design</h3>
                <h3 class="h3">responsive design</h3>
                <h3 class="h3">web design</h3>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-success" style="width: 90%">html</div>
                </div>
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-info text-dark" style="width: 80%">css</div>
                </div>
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning text-dark" style="width: 99%">js</div>
                </div>
                <div class="progress" role="progressbar">
                    <div class="progress-bar bg-danger" style="width: 100%">bootstrap</div>
                </div>
            </div>

    </div>
</div>